#modal-bg {
　　width:100%;
　　height:100%;
　　background-color: rgba(0,0,0,0.5);
　　position:fixed;
　　top:0;
　　left:0;
　　z-index: 1;
}
#screenshot_layer {
  background-color: rgb(102, 102, 102);
  opacity: 0.5;
  width: 1440px;
  height: 2506px;
  z-index: 2147483647;
  position: absolute;
  top: 0px;
  left: 0px;
}
