body {
  width: 300px;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  color: #666666;
  font-size: 0.5em;
}
.main_area {
  width: 280px;
  padding: 10px;
}
.button_area {
  width: 280px;
  float: left;
  padding: 10px;
}
.select-border-color {
  overflow: hidden;
  width: 100%;
  text-align: center;
  font-size: initial;
}
.select-border-color select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.select-border-color select::-ms-expand {
  display: none;
}
.select-border-color.select-list {
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
}
.select-border-color.select-list::before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}
.select-border-color.select-list select {
  padding: 8px 38px 8px 8px;
  color: #666666;
}
.btn-gradient-radius-focus {
  text-align: center;
  width: 80%;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(45deg, #ff8b5f 0%, #ffc107 100%);
  transition: 0.4s;
  margin: 5px;
  font-size: 1.4em;
}
.btn-gradient-radius-focus:hover {
  background-image: linear-gradient(45deg, #f76a35 0%, #ffc107 100%);
}
.btn-gradient-radius-reset {
  text-align: center;
  width: 80%;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #ff8b5f;
  border: 1px solid #ff8b5f;
  background-color: #fff;
  transition: 0.4s;
  margin: 5px;
  font-size: 1.4em;
}
.btn-gradient-radius-reset:hover {
  color: #f76a35;
  border: 1px solid #f76a35;
  background-color: #fff4ef;
}
.btn-gradient-radius-screenshot {
  text-align: center;
  width: 80%;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(45deg, #37c692 0%, #7bee98 100%);
  transition: 0.4s;
  margin: 5px;
  font-size: 1.4em;
}
.btn-gradient-radius-screenshot:hover {
  background-image: linear-gradient(45deg, #22936b 0%, #5bcc78 100%);
}
